version: 2

jobs:
  build:
    machine: true
    environment:
      GCLOUD_PROJECT: "uis-automation-ssgw"
    steps:
      - checkout

      - run:
          name: Install codecov
          command: pip install codecov

      - run:
          name: Copy circleci specific config
          command: |
            echo placeholder

      - run:
          name: Run tests
          command: |
            ./compose.sh tox run -v $PWD:/tmp/workspace -e COVERAGE_FILE=/tmp/workspace/.coverage -e COVERAGE_XML_FILE=/tmp/workspace/coverage.xml -e TOXINI_ARTEFACT_DIR=/tmp/workspace/build --rm tox
            ./compose.sh tox down

      - store_artifacts:
          path: ~/project/build/htmlcov
          destination: coverage-report

      - store_artifacts:
          path: ~/project/build/doc
          destination: documentation

      - run:
          name: run codecov
          command: |
            codecov

      - run:
          name: Health check endpoint succeeds
          command: |
            ./compose.sh development up -d
            ./compose/wait-for-it.sh localhost:8000 -t 60
            wget http://localhost:8000/healthz

      - run:
          name: Build the docker image
          command: docker build --no-cache --tag $CIRCLE_PROJECT_REPONAME:latest --build-arg APP_ENV=docker --build-arg APP_NAME=pidashboard .

      - run:
          name: Tag docker image
          command: |
            docker tag $CIRCLE_PROJECT_REPONAME:latest eu.gcr.io/$GCLOUD_PROJECT/$CIRCLE_PROJECT_REPONAME:sha-$CIRCLE_SHA1
            docker tag $CIRCLE_PROJECT_REPONAME:latest eu.gcr.io/$GCLOUD_PROJECT/$CIRCLE_PROJECT_REPONAME:branch-$CIRCLE_BRANCH
            docker tag $CIRCLE_PROJECT_REPONAME:latest eu.gcr.io/$GCLOUD_PROJECT/$CIRCLE_PROJECT_REPONAME:build-$CIRCLE_BUILD_NUM

      - run:
          name: Push docker image
          command: |
            if [ -z "$GCLOUD_SERVICE_KEY" ]; then
              echo "Skipping push step as there are no GCloud secrets"
            else
              # GCloud Service Account
              echo $GCLOUD_SERVICE_KEY > ${HOME}/gcloud-service-key.json
              # Activate GCloud service account
              gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
              # Set GCloud project
              gcloud --quiet config set project $GCLOUD_PROJECT
              # GCloud Docker login
              docker login -u _json_key --password-stdin https://eu.gcr.io < ${HOME}/gcloud-service-key.json
              # do the push
              docker push eu.gcr.io/$GCLOUD_PROJECT/$CIRCLE_PROJECT_REPONAME:sha-$CIRCLE_SHA1
              docker push eu.gcr.io/$GCLOUD_PROJECT/$CIRCLE_PROJECT_REPONAME:branch-$CIRCLE_BRANCH
              docker push eu.gcr.io/$GCLOUD_PROJECT/$CIRCLE_PROJECT_REPONAME:build-$CIRCLE_BUILD_NUM
            fi

      - persist_to_workspace:
          root: .
          paths:
            - build/doc

  docs:
    machine: true
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Deploy to GitHub Pages
          command: ./.circleci/deploy-ghpages.sh ./build/doc
